

#co{
	font-size: 4rem;
	color: #1a0210;
	font-family: 'Niconne',cursive;
	text-shadow: 4px 4px 0px #017e7f,
				 8px 8px 0px #B22222;
				 
}


#lo{
	font-size: 2rem;
	color: #1a0210;
	font-family: 'Niconne',cursive;
	text-shadow: 2px 2px 0px #017e7f,
				 4px 4px 0px #B22222;
				 
}

#mo{
	font-size: 4rem;
	color: #1a0210;
	font-family: 'Niconne',cursive;
	text-shadow: 3px 3px 0px #017e7f,
				 6px 6px 0px #B22222;
				 
}

#moo{
	font-size: 2rem;
	color: #1a0210;
	font-family: 'Niconne',cursive;
	text-shadow: 1px 1px 0px #017e7f,
				 2px 2px 0px #B22222;
				 
}
