#bo{
    background-color: #e9a6f5;
} 

#co{
	font-size: 4rem;
	color: #1a0210;
	font-family: 'Niconne',cursive;
	text-shadow: 4px 4px 0px #017e7f,
				 8px 8px 0px #B22222;
				 
}


#lo{
	font-size: 2rem;
	color: #1a0210;
	font-family: 'Niconne',cursive;
	text-shadow: 2px 2px 0px #017e7f,
				 4px 4px 0px #B22222;
				 
}


